.DS_Store
Install/bin
Install/obj
Source/Managed/Framework/bin
Source/Managed/Framework/obj
Source/Managed/Runtime/bin
Source/Managed/Runtime/obj
Source/Managed/Tests/bin
Source/Managed/Tests/obj
Source/Native/Binaries
Source/Native/Intermediate
Source/Native/Managed
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build / test results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
Source/Managed/Framework/UnrealEngine.Framework.sln
